<!doctype html>
<html>
<head>
  <title>play a game</title>
</head>
<body>
      <form action="/madlib">
    <div>
      Are you feeling lucky?
      <input type="checkbox" name="mood" value="yes">
      Yes
    </div>
    <div>
        Choose a person:
        <input type = "text" name = "person">
    </div>
    <div>
        Choose a color:
        <input type = "text" name = "color">
    </div>
    <div>
        Choose a noun:
    <input type = "text" name = "noun">
    </div>
    <div>
        Choose a adjective:
    <input type = "text" name = "adjective">
    </div>
    <input type="submit">
  </form>
</body>
</html>